@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Sunborn';
    /* Usamos el nombre exacto del archivo y cambiamos el formato a 'opentype' */
    src: url('../assets/fonts/sunborn-sans-one.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'ITC Franklin Gothic LT';
    src: url('../assets/fonts/ITC Franklin Gothic LT Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
  }
}